/* Attendance Controls */
.attendance-controls {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.attendance-controls input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.primary-btn {
  background: #0ea5e9;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.primary-btn:hover {
  background: #0284c7;
}

.secondary-btn {
  background: #16a34a;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.secondary-btn:hover {
  background: #15803d;
}

/* QR Box */
.qr-box {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
}

.passkey-box {
  background: #f1f5f9;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}
